#!/usr/bin/make -f

%:
	dh $@  --with autotools-dev

override_dh_auto_configure:
	export LDFLAGS=$(shell dpkg-buildflags --get LDFLAGS)
	export LDFLAGS+="-L/usr/lib/$(DEB_HOST_MULTIARCH)/mali-egl"
	dh_auto_configure

